.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit !important;
}

#resultado {
  text-align: center; 
  color: white;
}

.actionBtnView{
  margin-right: 88px
}
.actionBtnEdit{
  margin-right: 42px
}